.container{
     display:flex;
     justify-content: center;
}

canvas{
     background-image: url("images/niceBack.png");
     border: 1px solid black;
     background-repeat: no-repeat;
     background-size: cover;
     object-fit: cover;
}

body{
     background-color: black;
}

#pass{
     display:flex;
     justify-content: center;
    align-items:flex-end;
     background-color: black;
     width:100%;
     height:100%;
     color:white;
     display:none;
}