.container{
     display:flex;
     justify-content: center;
}

canvas{
     background-image: url("images/niceBack.png");
     border: 1px solid black;
     background-repeat: no-repeat;
     background-size: cover;
     object-fit: cover;
}

body{
     background-color: black;
}
