.container{
     display:flex;
     justify-content: center;
}

canvas{
     //background-image: url("images/SNES - Super Buster Bros Super Pang - Backgrounds.png");
     border: 1px solid black;
     //background-repeat: no-repeat;
     //background-size: cover;
}

